html {
    min-height: 100%;
    position: relative;
}

body{
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.logo{
    font-size: 90px;
    font-weight: bold;
    color: #0A3871;
    margin-left: 100px;
}

.container{
    width: 940px;
    height: 590px;
    position: relative;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

.entrada{
    width: 600px;
    height: 590px;
    text-align: center;
}

.input{
    border: none;
    font-size: 20px;
    resize: none;
    outline: none;
    background: #F3F5FC;
    height: 500px;
}

.aviso{
    text-align: left;
    margin-left: 20px;
}

#output{
    width: 280px;
    height: 110px;
    font-size: 18px;
    margin: 10px 10px;
}

.texto-ref{
    margin: 10px 0;
}

#texto-ningun{
    font-size: 25px;
    font-weight: bold;
}

.boton{
    margin-top: 15px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background: #ffffff;
    border-color: #ffffff00;
    font-weight: bold;
}

.boton:hover{
    background: #0A3871;
    color: #ffffff;
}

#botonE{
    margin-right: 85px;
}

#botonD{
    margin-left: 85px;
}

.copiar{
    position: relative;
    margin-top: 75px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background: #ffffff;
    border-color: #000000;
    font-weight: bold;
}

.copiar:hover{
    background: #0A3871;
    color: #ffffff;
    border-color: #ffffff00;
}

.salida{
    background: #ffffff;
    right: 0;
    top: 20px;
    width: 300px;
    height: 590px;
    position: absolute;
    display: inline-block;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
}

.imagen{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

footer{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.img-footer{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

/*Computadoras con altura de 720px*/

@media screen and (max-height:750px) {
    .container{
        height: 370px;
    }

    .body{
        margin-bottom: 20px;
    }

    .salida, .entrada{
        height: 370px;
    }

    .input{
        height: 280px;
    }

    #output{
        height: 90px;
    }

    .imagen{
        width: 150px;
        height: 100px;
    }

    #texto-ningun{
        font-size: 15px;
    }

    #texto-ref{
        font-size: 12px;
    }

    .copiar{
        margin-top: 5px;
    }
}

/*Teléfono*/

@media screen and (max-width:500px) {
    .container{
        padding: 0;
        width: 350px;
        height: 500px;
    }

    .body{
        margin-bottom: 20px;
    }

    .logo{
        font-size: 50px;
        margin: 0;
        text-align: center;
    }

    .entrada{
        width: 350px;
        height: 250px;
    }

    .salida{
        width: 350px;
        height: 250px;
        display: block;
        position: relative;
        margin: 0;
    }

    .input{
        width: 300px;
        height: 100px;
    }

    .aviso{
        margin-top: 10px;
        text-align: center;
    }

    #botonE{
        margin: 10px 0;
    }

    #botonD{
        margin-top: 5px;
        margin-left: 75px;
        display: block;
    }

    #output{
        width: 300;
        height: 100px;
        margin: 5px 25px;
        position: absolute;
    }

    .imagen{
        margin-top: 50px;
        width: 150px;
        height: 100px;
    }

    .texto-ref{
        position: absolute;
    }

    #texto-ningun{
        margin-left: 70px;
        font-size: 15px;
    }

    #texto-ref{
        margin-top: 30px;
        margin-left: 35px;
        font-size: 12px;
    }

    .copiar{
        margin-top: 40px;
    }
}

/*Tablet*/

@media screen and (max-width:900px) and (min-width:600px) {
    .container{
        padding: 0;
        width: 700px;
        height: 750px;
    }   

    .body{
        margin-bottom: 20px;
    }

    .logo{
        font-size: 50px;
        margin: 0;
        text-align: center;
    }

    .entrada{
        width: 100%;
        height: 400px;
    }

    .salida{
        width: 100%;
        height: 300px;
        display: block;
        position: relative;
        margin: 0;
    }

    .input{
        width: 650px;
        height: 250px;
    }

    .aviso{
        margin-top: 10px;
        text-align: center;
    }

    #botonE{
        margin: 10px 0;
    }

    #botonD{
        margin-top: 5px;
        margin-left: 250px;
        display: block;
    }

    #output{
        width: 650px;
        height: 100px;
        margin: 5px 25px;
        position: absolute;
    }

    .imagen{
        margin-top: 100px;
        margin-left: -300px;
        width: 150px;
        height: 100px;
        display: inline;
    }

    .texto-ref{
        position: absolute;
    }

    #texto-ningun{
        margin-top: 130px;
        margin-left: 70px;
        font-size: 15px;
        display: inline;
    }

    #texto-ref{
        margin-top: 150px;
        margin-left: 35px;
        font-size: 12px;
        display: inline;
    }

    .copiar{
        margin-top: 50px;
        margin-left: 250px;
        display: block;
    }
}
